<br><br>
<div class="container">
<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<br>
<ng-template #showLogin>
<p>Please login.</p>
  <form class="example-form" [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>
    </form>      

<button mat-button color="primary" (click)="loginGoogle()"><i class="fab fa-google-plus fa-3x"></i>&nbsp;Login with Google</button>
<button mat-button color="primary" (click)="loginFacebook()"><i class="fab fa-facebook fa-3x"></i>&nbsp;Login with Facebook</button>
<button mat-button color="primary" (click)="loginGithub()"><i class="fab fa-github fa-3x"></i>&nbsp;Login with Github</button>
<button mat-button color="primary" (click)="loginWithEmail()"><i class="fas fa-at fa-3x"></i>&nbsp;Login with Email</button>
</ng-template>

<br><br>
<button (click)="saveDelivery()">Save Delivery</button>
<button (click)="getAllDelivery()">Get All Deliveries</button>
<br>
<mat-card *ngFor="let delivery of deliveriesArr" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Delivery Driver</mat-card-title>
      
    </mat-card-header>
    <img *ngFor="let photo of delivery.driverPhoto" mat-card-image src="{{photo}}" alt="Photo">
    <mat-card-content>
      <p>
        {{delivery.driver_name}}
      </p>
    </mat-card-content>
  </mat-card>

<hr>

<form class="example-form" [formGroup]="uploadForm">
    <mat-progress-spinner
      *ngIf="spinnerFlag"
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value">
  </mat-progress-spinner>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <button mat-icon-button onClick="document.getElementById('singleFile').click()"><mat-icon>cloud_upload</mat-icon></button>
    <input id="singleFile" type="file" style="display:none" [fileUploadInputFor]= "fileUploadQueue"/>
    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'img'"
        [httpUrl]="uploadAPI">
        <mat-file-upload [file]="file" (onUpload)="doneUpload($event)" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
    <hr>
    <button (click)="saveDelivery()" mat-raised-button color="primary" [disabled]="!uploadForm.valid">Save</button>

</form>
</div>