<button (click)="saveDelivery()">Save Delivery</button>
<button (click)="getAllDelivery()">Get All Deliveries</button>
<br>
<mat-card *ngFor="let delivery of deliveriesArr" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Delivery Driver</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="{{delivery.driverPhoto}}" alt="Photo">
    <mat-card-content>
      <p>
        {{delivery.driver_name}}
      </p>
    </mat-card-content>
  </mat-card>

<hr>

<form class="example-form" [formGroup]="uploadForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
    
    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'img'"
        [httpUrl]="uploadAPI">
        <mat-file-upload [file]="file" (onUpload)="doneUpload($event)" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
    <hr>
    <button (click)="saveDelivery()">Save</button>

</form>